*.swo
*.swp
*~
\#*#

# exclude everything in root except files and directories from void-packages
/*
!/.gitattributes
!/.github
!/.gitignore
!/.mailmap
!/CONTRIBUTING.md
!/COPYING
!/Manual.md
!/README.md
!/common
!/etc
!/pkgs
google-chrome-108.0.5359.71_1.x86_64.xbps
vivaldi-5.5.2805.48_1.x86_64.xbps
!/srcpkgs
!/hostdir/binpkgs/
!/xbps-src
!/sign.sh
!/rmake
!/makevoidpkg
!/etc/conf
!/etc/conf.*
!/etc/virtual
!/etc/xbps.d/custom
!/etc/repo-keys
!/private*
